<div class="row">
  <div class="page-header">
    <h1>Contacto</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>idContacto</th>
          <th>idUsuario</th>
          <th>Contacto</th>
          <th>Apellido</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>idCategoria</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contacto of contactoService.contactos">
            <td>{{ contacto.idContacto }}</td>
            <td>{{ contacto.idUsuario }}</td>
            <td>{{ contacto.nombre }}</td>
            <td>{{ contacto.apellido }}</td>
            <td>{{ contacto.telefono }}</td>
            <td>{{ contacto.direccion }}</td>
            <td>{{ contacto.idCategoria }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-danger waves-effect" data-toggle="modal" data-target="#modalContacto">
        Agregar
    </button>

  
<div class="modal fade bd-example-modal-lg" id="modalContacto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form [formGroup]="formularioContacto" (ngSubmit)="agregarContacto()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Contacto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group ">
            <label for="idUsuario" >Usuario</label>
              <input type="text" class="form-control" id="idUsuario" placeholder="ingrese su usuario" formControlName="idUsuario">
          </div>
          <div class="form-group ">
            <label for="nombre" >Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="ingrese su nombre" formControlName="nombre">
          </div>
            <div class="form-group ">
            <label for="apellido" >Apellido</label>
              <input type="text" class="form-control" id="apellido" placeholder="ingrese su apellido" formControlName="apellido">
          </div>
            <div class="form-group ">
            <label for="telefono" >Telefono</label>
              <input type="text" class="form-control" id="telefono" placeholder="ingrese su telefono" formControlName="telefono">
          </div>
            <div class="form-group ">
            <label for="direccion" >Direccion</label>
              <input type="text" class="form-control" id="direccion" placeholder="ingrese su direccion" formControlName="direccion">
          </div>
            <div class="form-group ">
            <label for="idCategoria" >Categoria</label>
              <input type="text" class="form-control" id="idCategoria" placeholder="ingrese su categoria" formControlName="idCategoria">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>

